@media only screen and (max-width: 768px) {
    section.dashboard .TodoHeader {
        justify-content: normal;
    }
    .MuiInputBase-root {
        height: 80px;
        width: 213px;
    }

    .MuiFormLabel-root{
        margin-top: 12px;
    }
    .DeleteEditButton {
        margin-left: 226px;
        display: flex;
    }

}

