@media only screen and (max-width: 480px) {
    .TodoHeader{
        margin: 10px;
        display: flex;
        justify-content: normal;
    }
    div .MuiFormControl-root.MuiTextField-root{
        margin-right: 10px;
        width: 100%;
    }
    .MuiInputBase-root {
        margin-right: 10px;
        width: 100%;
    }
    .MuiButtonBase-root.MuiTextField-root{
        width: 70px;
    }
    button#DeleteButton{
        width: 65px;
    }
    .todoItems{
        display: flex;
        justify-content: space-between;
        padding: 0 10px 10px 10px;
    }

    .DeleteEditButton {
        display: flex;
    }
    #EditButton{
        margin-right: 10px;
        width: 10px;
    }


}

@media only screen and (min-width: 481px) {
    .TodoHeader{
        margin: 10px;
        display: flex;
        justify-content: center;
    }
    .todoItems{
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }


}

