.TodoHeader{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.todoItems{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.todoItem{
    display: block;
    width: 79%;
}
.DeleteButton{
    width: 30%;
}
#AddButton {
    margin-left: 13px;
}
#DeleteButton{
    margin-left: 13px;
}
.EditButton{
    margin-right: 10px;
    width: 30%;
}
.DeleteEditButton{
    display: flex;
    width: 20%;
}
